.manage-post-table{
    width: 100%;
    border-collapse: collapse;
}
.manage-post-table th{
    padding: 10px 20px;
    border: 1px solid var(--color-gray-300);
    color: var(--color-white);
}
.manage-post-table td{
    color: var(--color-white);
    padding: 10px 20px;
    border: 1px solid var(--color-gray-300);
    white-space: nowrap;
}
.manage-post-table .a{
    width: 100px;
    text-align: center;
}
.manage-post-table .b{
    width: 100px;
    text-align: center;
}
.manage-post-mobile{
    display: none;
    border-collapse: collapse;
}
.manage-post-mobile th{
    border: 1px solid var(--color-gray-300);
    color: var(--color-white);
    width: 100px;
    padding: 5px 10px;
    white-space: nowrap;
}
.manage-post-mobile td{
    border: 1px solid var(--color-gray-300);
    color: var(--color-white);
    padding: 5px 10px;
}
.nothing-mob{
    display: none;
}
.manage-post-mobile .btn{
    width: 50% !important;
    margin: auto;
    font-size: small !important;
    border-radius: 50px !important;
    float: right;
}
@media(max-width:780px){
    .nothing{
        display: none;
    }
    .manage-post-table{
        display: none;
    }
    .manage-post-mobile{
        display: table;
    }
    .nothing-mob{
        display: block;
    }
}