.switch-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}
.upload-status{
    display: inline;
    color: rgb(23, 207, 146);
    font-weight: bold;
}
#content{
    border-radius: 5px;
}
.ql-toolbar.ql-snow{
    border: 1px solid #ccc;
    border-radius: 5px;
    position: sticky;
    top: 75px;
    background-color: aliceblue;
    z-index: 15;
}
.ql-container.ql-snow{
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.add-post{
    background-color: var(--color-white);
}
.add-post .color-blk{
    color: black;
    font-weight: 600;
}
.no-bold{
    font-weight: normal !important;
}
@media(max-width:760px){
    .switch-wrapper{
        /* flex-direction: column; */
    }
}