.headline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
}

.headline .thumbnail {
    width: 100% !important;
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    aspect-ratio: 16/11;
    object-fit: cover;
    object-position: center;
}

.headline .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline .tag {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    width: fit-content;
    font-weight: 600;
    font-size: 0.8rem;
}

.headline .tag:hover {
    color: var(--color-white);
}

.headline .title {
    color: var(--color-white);
    font-size: 1.7rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.author {
    font-size: small;
    display: flex;
    align-items: center;
    gap: 20px;
}

.author .name-wrapper {
    display: flex;
    flex-direction: column;
}

.author .name {
    font-weight: bold;
    color: var(--color-white);
}

.author .avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.headline .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.headline .like-wrapper{
    justify-content: unset;
    gap: 40px;
}
@media screen and (max-width:760px) {
    .headline {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .headline .like-wrapper{
        gap: unset;
        justify-content: space-between;
    }
    .headline .thumbnail {
        width: 100%;
    }
}