.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}
.post .thumbnail{
    width: 100%;
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
}
.post .tag{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    width: fit-content;
    font-weight: 600;
    font-size: 0.8rem;
}
.post .tag:hover {
    color: var(--color-white);
}
.post .title{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}